@use "./vars";
@use "./mixins";

.btn-clear {
    cursor: pointer;
    height: 40px;
    
    background: transparent;  
    border: none;

    font-size: .9rem;
    font-weight: 400;
    color:  vars.$dark-grayish-blue-l;

    &:hover {
        color: vars.$very-dark-grayish-blue-l;
    }
}

.btn-dark-mode {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 37px;
    height: 37px;

    background: transparent;  
    border: none;

    font-size: 1.3rem;
    color: vars.$very-light-gray;
}

.btn-ex {
    cursor: pointer;
    @include mixins.center;
    padding-top: 5px;
    display: none;

    svg {
        font-size: .9rem;
        color: vars.$very-dark-grayish-blue-l;

        @include mixins.desktop {
            font-size: 1.2rem;
        }
    }
}