@use "../vars";
@use "../mixins";

.card-todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 386px;
    max-width: 340px;
    
    background: vars.$color-white;
    border-radius: 8px;
    box-shadow: 0px 60px 120px 20px vars.$light-grayish-blue;

    @include mixins.desktop {
        max-width: 550px;
    }

    .container-card-toados {
        height: 333px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .container-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        padding-inline: 20px;

        .sub {
            font-size: .9rem;
            font-weight: 400;
            color:  vars.$dark-grayish-blue-l;
        }
    }
}