@use "../vars";

.container-create-todo {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 60px;
    max-width: 340px;
    padding-inline: 20px;
    
    background: vars.$color-white;
    border-radius: 8px;

    .container-input {
        position: relative;

        width: 100%;
        height: 100%;

        input {

            width: 100%;
            height: 100%;
            padding: 5px 5px 0px 5px;
            font-size: .8rem;
            font-weight: 400;
            color: vars.$very-dark-grayish-blue-l;
            

            background: transparent;
            border: none;

            &::placeholder {
                color: vars.$dark-grayish-blue-l;

            }

            &:focus {
                outline: none;
            }
        }
    }
}