@use "../vars";
@use "../mixins";

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55px;
    padding-inline: 20px;
    border-bottom: 1px solid vars.$light-grayish-blue;

    .container-mtn {
        display: flex;
        align-items: center;
        gap: 15px;

        .container-name {
            padding-top: 4px;

            span {
                font-size: .8rem;
                font-weight: 400;
                color: vars.$very-dark-grayish-blue-l;
            }
        }
    }

    .btn-ex {
        @include mixins.center;
        padding-top: 5px;

        svg {
            font-size: .9rem;
            color: vars.$very-dark-grayish-blue-l;
        }
    }
}

.complete {
    span {
        color: vars.$light-grayish-blue !important;
        text-decoration: line-through;
    }
}