@use "../vars";

.todo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-image: url("../../assets/imgs/bg-mobile-light.jpg"),
    linear-gradient(to bottom, vars.$very-light-grayish-blue 60%, vars.$very-light-grayish-blue 100%);
    background-size: 100% 200px, 100% 100%; 
    background-repeat: no-repeat;
    background-position: top;

    .container-todos {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
        width: 100%;
    }
}

.dark {
    background-image: url("../../assets/imgs/bg-mobile-dark.jpg"),
    linear-gradient(to bottom, vars.$very-dark-blue 60%, vars.$very-dark-blue 100%);

    .container-todos {

        .container-create-todo {
            background: vars.$very-dark-desaturated-blue;

            .container-input {
                input {
    
                    color: vars.$light-grayish-blue-200;
    
                    &::placeholder {
                        color: vars.$dark-grayish-blue;
                    }
                }
            }

        }
    }

    .card-todo {
        background: vars.$very-dark-desaturated-blue;

        .container-card-todos {
            .todo {
                border-bottom: 1px solid vars.$very-dark-grayish-blue-200;
                .container-mtn {

                    .container-name {

                        span {
                            color: vars.$light-grayish-blue-200;
                        }
                    }
                }

                .btn-ex {

                    svg {
                        color: vars.$very-dark-grayish-blue-100;
                    }
                }
            }
        }

        .container-footer {
            .sub {
                color:  vars.$dark-grayish-blue;
            }

            .btn-clear {
                color:  vars.$dark-grayish-blue;
            }
        }
    }

    .aside-nav {
        background: vars.$very-dark-desaturated-blue;

        ul {
            li {
                color:  vars.$dark-grayish-blue;

                &:hover {
                    color:  vars.$light-grayish-blue-100;
                }
            }
        }
    }

    .mark {
        border-color: vars.$very-dark-grayish-blue-200;

    }
}