@use "../vars";
@use "../mixins";

.todo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-image: url("../../assets/imgs/bg-mobile-light.jpg"),
    linear-gradient(to bottom, vars.$very-light-gray 60%, vars.$very-light-gray 100%);
    background-size: 100% 200px, 100% 100%; 
    background-repeat: no-repeat;
    background-position: top;

    @include mixins.desktop {
        background-image: url("../../assets/imgs/bg-desktop-light.jpg"),
        linear-gradient(to bottom, vars.$very-light-gray 60%, vars.$very-light-gray 100%);
        background-size: 100% 300px, 100% 100%; 
    }

    .container-todos {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
        width: 100%;
    }

    .conatiner-txt {
        margin-top: 50px;

        @include mixins.desktop {
            padding-bottom: 40px;
        }

        p {
            font-size: 1.125rem;
            font-weight: 400;
            color: vars.$dark-grayish-blue-l;
        }
    }
}

.dark {
    background-color: vars.$very-dark-blue;
    .todo-main {
        background-image: url("../../assets/imgs/bg-mobile-dark.jpg"),
        linear-gradient(to bottom, vars.$very-dark-blue 60%, vars.$very-dark-blue 100%);

        @include mixins.desktop {
            background-image: url("../../assets/imgs/bg-desktop-dark.jpg"),
            linear-gradient(to bottom, vars.$very-dark-blue 60%, vars.$very-dark-blue 100%);
        }

        .container-todos {

            .container-create-todo {
                background: vars.$very-dark-desaturated-blue;

                .container-input {
                    input {
        
                        color: vars.$light-grayish-blue-200;
        
                        &::placeholder {
                            color: vars.$dark-grayish-blue;
                        }
                    }
                }

            }
        }

        .conatiner-text {

            p {
                color: vars.$very-dark-grayish-blue-100;
            }
        }

        .card-todo {
            background: vars.$very-dark-desaturated-blue;
            box-shadow: none;

            .container-card-todos {
                .todo {
                    border-bottom: 1px solid vars.$very-dark-grayish-blue-200;
                    .container-mtn {

                        .container-name {

                            span {
                                color: vars.$light-grayish-blue-200;
                            }
                        }
                    }

                    .btn-ex {

                        svg {
                            color: vars.$very-dark-grayish-blue-100;
                        }
                    }
                }

                .complete {
                    span {
                        color: vars.$very-dark-grayish-blue-100 !important;
                        text-decoration: line-through;
                    }
                }
            }

            .container-footer {
                .sub {
                    color:  vars.$dark-grayish-blue;
                }

                .btn-clear {
                    color:  vars.$dark-grayish-blue;

                    &:hover {
                        color:  vars.$light-grayish-blue-100;
                    }
                }
            }
        }

        .aside-nav {
            background: vars.$very-dark-desaturated-blue;

            ul {
                li {
                    color:  vars.$dark-grayish-blue;

                    &:hover {
                        color:  vars.$light-grayish-blue-100;
                    }
                }
            }
        }

        .mark {
            border-color: vars.$very-dark-grayish-blue-200;

            &:hover {
                background: 
                    linear-gradient(vars.$very-dark-desaturated-blue, vars.$very-dark-desaturated-blue) padding-box, 
                    vars.$Check-Background border-box;
            }

        }

        .conatiner-text {

            p {
                color: vars.$very-dark-grayish-blue-100;
            }
        }
    }
}