@use "../vars";
@use "../mixins";

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55px;
    padding-inline: 20px;
    border-bottom: 1px solid vars.$light-grayish-blue;
    cursor: pointer;

    .container-mtn {
        display: flex;
        align-items: center;
        gap: 15px;

        .container-name {
            padding-top: 4px;

            span {
                font-size: .8rem;
                font-weight: 400;
                color: vars.$very-dark-grayish-blue-l;

                @include mixins.desktop {
                    font-size: 1.1rem;
                }
            }
        }
    }

    &:hover .btn-ex {
        display: flex;
    }
}

.complete {
    span {
        color: vars.$very-light-grayish-blue!important;
        text-decoration: line-through;
    }
}