@use "../vars";

.todo-main {
    width: 100%;
    height: 100vh;

    background-image: url("../../assets/imgs/bg-mobile-light.jpg"),
    linear-gradient(to bottom, vars.$very-light-gray 60%, vars.$very-light-gray 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}